<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="thegit.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="thegit.Perspective"
            name="Perspective"
            id="thegit.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="thegit.View"
            name="View"
            id="thegit.view"
            inject="true">
      </view>
      <view
            class="thegit.Stammdaten"
            id="ch.sbb.lta.client.stammdaten.zellen.view.Stammdaten"
            name="Stammdaten"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="thegit.view"
               minimized="false"
               relationship="left"
               standalone="true"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.eclipse.egit.ui.StagingView"
               minimized="false"
               relationship="stack"
               relative="thegit.view"
               visible="true">
         </view>
         <view
               id="org.eclipse.egit.ui.RepositoriesView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.egit.ui.StagingView"
               visible="true">
         </view>
         <view
               id="ch.sbb.lta.client.stammdaten.zellen.view.Stammdaten"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.egit.ui.RepositoriesView"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <command
               commandId="org.eclipse.ui.views.showView"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="thegit.StammdatenContentProvider"
            id="ch.sbb.lta.client.stammdaten.zellen.StammdatenContent"
            labelProvider="org.eclipse.ui.model.WorkbenchLabelProvider"
            name="StammdatenContent">
         <triggerPoints>
            <instanceof
                  value="thegit.StammdatenNavigatorInput">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="ch.sbb.lta.client.stammdaten.zellen.view.Stammdaten">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="ch.sbb.lta.client.stammdaten.zellen.StammdatenContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
 <extension
          point="org.eclipse.core.runtime.adapters">
       <factory
             adaptableType="org.eclipse.core.resources.IResource"
             class="thegit.StammdatenFileAdapter">
          <adapter
                type="org.eclipse.ui.model.IWorkbenchAdapter">
          </adapter>
       </factory>
    </extension>
    
    <extension
          point="org.eclipse.core.expressions.definitions">
       <definition
             id="ch.sbb.lta.client.stammdaten.zellen.generieren">
          <with
                variable="activeContexts">
             <iterate
                   ifEmpty="false"
                   operator="or">
                <equals
                      value="ch.sbb.lta.client.stammdaten.zellen.context">
                </equals>
             </iterate>
          </with>
       </definition>
    </extension>
    <extension
          point="org.eclipse.ui.contexts">
       <context
             id="ch.sbb.lta.client.stammdaten.zellen.context"
             name="Stammdaten"
             parentId="org.eclipse.ui.contexts.window">
       </context>
    </extension>
    
    <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.sbb.lta.client.stammdaten.zellen.view.Stammdaten">
         <command
               commandId="org.eclipse.ui.file.refresh"
               label="refresh"
               style="push"
               tooltip="REFRESH">
         </command>
      </menuContribution>
      </extension>
</plugin>
