<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="thegit.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="thegit.Perspective"
            name="Perspective"
            id="thegit.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="thegit.View"
            name="View"
            id="thegit.view"
            inject="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="thegit.view"
               minimized="false"
               relationship="left"
               standalone="true"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.eclipse.egit.ui.StagingView"
               minimized="false"
               relationship="stack"
               relative="thegit.view"
               visible="true">
         </view>
         <view
               id="org.eclipse.egit.ui.RepositoriesView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.egit.ui.StagingView"
               visible="true">
         </view>
         <view
               id="org.eclipse.egit.ui.CompareTreeView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.egit.ui.RepositoriesView"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <command
               commandId="org.eclipse.ui.views.showView"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
